.header{
    padding: 16px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    
   
}
li a{    
    /* Take off link attributes*/
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #2e2b27;
}
li a:hover{
    color: grey;
}
