body
{
  background-color: RGB(0, 155, 119);
  display: flex;
flex-direction: column;

}   

.game, .team, .score {
    font-style: normal;
    color: white;
    font-family: urw-din,sans-serif;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
}
.game{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    border: 5px solid;
    margin: 15px;
    border-color: white;
    background-color: #d4af37;
    border-radius: 10px;
    overflow:hidden
}
.container {
    
    column-count: 2.5;
    column-gap: 200px;
    margin: 50px;
    margin-top: 10px;
  }
  
  .team-name{
    font-weight: bold;
    font-size: 30px;
    color: white;
  
  }
  
  .score{
    text-align: center;
    font-size: 32px;
  }
  img{
    width: 100px;
  }
  h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  #logout{
  position: absolute;   
    left: 50px;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    width: 10px;    
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-shadow: 0 2px 2px #2e2b27;

  }
 #logout:hover{
    color: grey;
  }
  .username-place{
    text-align: left;
    color: white;
    position: absolute;   
    right: 15px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 200;
    margin-down: 100px;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-shadow: 0 2px 2px #2e2b27;
  }
  .game-status{
    color:white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
  }
