input{
    border:1px solid white;
    border-radius:16px;
    padding:  8px 20px;
    size: 20px;
}
.submit-bar{
    size: 5px;
    margin-left: 35px;
    }
.text{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.submit-button{
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 16px;
    border: none;
    border-radius: 100px;
    background-color: rgb(122, 255, 122);
  
    
}
.submit-button:hover{
    color: gray;
}
.history{
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 33, 33);
    padding: 12px 8px;
    margin: 10px 1px;
    border: 3.5px solid;
    border-radius: 10px;
    border-color: none;
}
.mContainer,.hContainer{
    display: flex;
    flex-direction: column;
    column-count: 2.5;
    column-gap: 200px;
    margin: 50px;
    margin-top: 10px;
    overflow:hidden
}
.history-info{
    color: white;
    text-align: left;
    margin-top: -10px;

}
img{
    width: 120px;
}
#hhDate, #hhAmount, #hhTeam, #hhWon {
    color: #d4af37;
    margin: 5px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #2e2b27;

}
.hHeader{
    font-size: large;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: .2px;
            -webkit-text-stroke-color: black;
            font-family: sans-serif;
            font-size: 1.25rem;
            line-height: 150%;
            text-align: center;
            text-shadow: 0 2px 2px #2e2b27;
}
.number {
    display: inline-block;
    width: 320px;
    text-align:center;
  }
  .number2 {
    display: inline-block;
    width: 332px;
    text-align:center;
  }
  #hhResultWon, #hhResultLoss{
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #2e2b27;
  }
  #hhResultWon{
    color: darkgreen;
  }
  #hhResultLoss{
    color: darkred;
  }

 .entryContainer{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin: 60px;
    color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: left;
  text-shadow: 0 2px 2px #b6701e;
  padding: 10px;
  }
  .right{
text-align: left;
border-radius: 15px;
height: 200px;
width: 600px;
padding: 10px;
margin-left: 20px;
  }
  
  .left{
    height: 300px;
    width: 2000px;
    
  }
  .entryGames{
    font-size: 25px;
    height:150px;
    width: auto;
    padding: 10px;
    margin: 10px;
    text-align: start;
    border-bottom: #fff 5px solid;
    border-radius: 13px;

  }
  .namePlace{
    border: solid 2px;
    border-radius: 10px;
    padding: 5px;
  }
  #entryIMG{
float: right;  }
.noGames{
    font-size: 25px;
    height:150px;
    width: auto;
    padding: 10px;
    margin: 10px;
    text-align: start;
}