
body
{
    background-color: RGB(0, 155, 119);
display: flex;
flex-direction: column;
flex-wrap: wrap;
}   
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 100px;
}


.info{
    margin-top: 150px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 1;   
   
}
button{
    font-size: 14px;
    padding: 8px 16px;
    width: 100px;
    border: none;
    border-radius: 100px;
    background-color: rgb(122, 255, 122);
    margin: 20px;
    
   
}
.button1{
    align-items: center;
    justify-content: center;
}
.button1:hover {
    transition-duration: 0.5s; 
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .button2:hover {
    transition-duration: 0.5s; 
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  p{
    color: white;
    font-family: urw-din,sans-serif;
    font-size:x-large;
    margin-top: -150px;
  }
  .login{
    color: white;
    font-family: urw-din,sans-serif;
    text-align: left;
  }
.bottom-text{
    color: white;
text-align: center;
font-family: urw-din,sans-serif;

}

input{
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 200px;
    margin-bottom: 16px;
}
a{
    color: yellow;
}
.image{
    margin: 10px;
    padding: 10px;
    border: 100px;
}
.error{
    font-family: urw-din,sans-serif;

    font-weight: 1000;
    color: black;
    display: table;
    margin: 0 auto;
}
